{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - DepoConfo{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <section class="container mt-5">
        <h2>Ma commande</h2>
        <hr>
        <div class="row">

            <div class="col-md-6">
                <h4>Chosir l'adresse de livraison</h4>
                {{ form_row(form.addresses) }}



            </div>
            <div class="col-md-6">
                <div class="text-center">
                    <b>Récapitulatif</b><br/>
                    {% for article in detailedCart %}
                        <div class="row">
                            <div class="col-2 my-auto">
                                <img src="/uploads/{{ article.article.image }}" alt="{{ article.article.name }}" class="">
                            </div>
                            <div class="col-8 my-auto">
                                {{ article.article.name }}
                            </div>
                            <div class="col-2 my-auto">
                                {{ article.quantity }}
                            </div>
                        </div>

                    {% endfor %}
                    {{ form_widget(form.submit ) }}
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </section>

{% endblock %}